*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
body{
    font-family: 'RLR';
    background: #0C0C0C;
}

:root{
    --greenyllow: rgba(105, 207, 23, 0.75);
    --lightgreen: #69CF17;
}

/* HEADER START */

/* NAV START */


body::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    top: 64px;
    left: 0;
    background: #e5e5e53f;;
    position: absolute;
    z-index: 0;
}
body::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    top: 140px;
    left: 0;
    background: #8d8d8d50;
    position: absolute;
    z-index: 0;
}

.header-nav__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    
}
.nav__top-logo{
    display: flex;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.nav__top-logo i{
    margin-right: 5px;
}
.nav__top-menu{
    display: flex;
    gap: 5px 20px;
}
.nav__top-link{
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
}
.header-nav__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 3px 0;
}
.street{
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(10, 148, 24, 0.75);
    border: 4px solid #06600F;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'RB';
    padding: 12px 18px 12px 17px;
}
.nav__bottom-menu{
    display: flex;
}
.nav__bottom-link{
    padding: 28px 14px;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
    transition: background 0.5s;
}
.nav__bottom-link:hover{
    background: var(--greenyllow)
}
/* NAV END */

/* HEADER-CONTENT START */

.header-content{
    background: url(../image/food-burger-wallpaper-preview\ 1.jpg) no-repeat center /cover;
    padding: 167px 0 179px 0;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* content__top START */

.header-content__top{
    display: flex;
    flex-direction: column;
    
}

.content__top-title{
    font-size: 72px;
    line-height: 85px;
    color: var(--lightgreen);
    font-family: 'RLB';
}
.content__top-meat{
    font-size: 36px;
    line-height: 17px;
    color: var(--lightgreen);
    margin: 18px 0;
}
.content__top-text{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

/* content__top END */

/* content__bottom START  */

.header-content__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.content__bottom-number{
    font-size: 50px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    background: rgba(105, 207, 23, 0.5);
    backdrop-filter: blur(18px);
    padding: 33px 76px;
}
.content__bottom-link{
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    border-radius: 6px;
    padding: 15px 71px;
}

/* HEADER END */

/* MAIN START */

.main{
    margin: 30px 0;
    display: flex;
}
.main__image{
    position: relative;
}
.main__img{
    height: 400px;
    max-width: 1110px;
    width: 100%;
}  
.main__image-link{
    color: rgba(105, 207, 23, 0.7);
    text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
    font-size: 55px;
    line-height: 65px;
    text-transform: uppercase;
    font-family: 'RB';
    position: absolute;
    top: 35%;
    left: 35%;
}
.main__text{
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    color: #FFFFFF;
    font-family: 'RLB';
    margin-top: 30px;
}

/* MAIN end */

/* FOOTER start */

.footer{
    margin-top: 50px;
}
.footer__top-map{
   width: 100%;

}
.footer__top-title{
    font-size: 50px;
    line-height: 40px;
    color: #69CF17;
    padding: 20px 0;
    background: #FFFFFF;
    font-family: 'RLB';
    text-align: center;
}
.footer__bottom{
    background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
    padding: 42px 0 138px;
}
.footer__bottom-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__bottom-number{
    font-style: normal;
    font-family: 'RB';
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
}
.footer__bottom-menu{
    display: flex;
    justify-content: center;
    margin-top: 92px;
}
.footer__bottom-link{
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    font-family: 'RR';
    padding: 0 20px;
}
.footer__bottom-link:hover{
    color: greenyellow;
}
.footer__bottom-text{
    padding: 19px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'RR';
    background: #1A3406;
}
/* MEDIA START */

@media(max-width:1300px){
     .header-nav__top{
        justify-content: space-around;
    }
    .header-nav__bottom{
        justify-content: space-around;
    }
    .main__text{
        font-size: 15px;
        line-height: 20px;
    }
    
}
@media(max-width:900px) {
    
    .header-content__top{
        align-items: center;
    }
    .content__top-text{
        width: 80%;
    }
    .header-content__bottom{
        justify-content: space-evenly;
    }  
    .main__text{
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    } 
    .header-content__top{
        align-items: center;
    }
    .content__top-text{
        width: 80%;
    }
    .header-content__bottom{
        justify-content: space-evenly;
    }
}
@media(max-width:750px) {
    .header-nav__bottom{
        flex-wrap: wrap;
        align-items: center;
        row-gap: 15px;
    }
    .nav__bottom-link{
        padding: 10px;
    }
    .content__top-title{
        font-size: 42px;
        line-height: 55px;
    }
    .street{
        font-size: 20px;
        line-height: 10px;
        padding:10px;
    }
    .content__bottom-number{
        padding: 15px;
        font-size: 30px;
        line-height: 15px;
    }
    .content__bottom-link{
        padding: 12px 35px;
        font-size: 15px;
        line-height: 18px;
    }
    body::after{
        display: none;
    }
    .header-content{
        margin-top: 20px;
    }
    .footer__top-title{
        font-size: 30px;
        line-height: 20px;
    }
    .main__image-link{
        font-size: 45px;
        line-height: 45px;
    }
}
@media(max-width:500px) {
    .content__top-title{
        font-size: 32px;
        line-height: 45px;
    }
    .content__top-meat{
        font-size: 28px;
        line-height: 15px;
    }
    .header-nav__top{
        row-gap: 5px;
        flex-wrap: wrap;
    }
    .nav__top-link,.nav__bottom-link{
        font-size: 13px;
        line-height: 14px;
    }
    .main__image-link{
        font-size: 25px;
        line-height: 25px;
    }
    .content__top-text{
        font-size: 15px;
        line-height: 18px;
    }
}
/* MEDIA END */